# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\virenv\python全栈\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
